/*****************************************************************************************************************
Canvas section (right-center) - displays ranking vis
*****************************************************************************************************************/


/*
<div> wrapping urank stacked bars and future visualizations
*/
.urank-viscanvas {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;

    .urank-viscanvas-container {
     width: 100%;
     float: left;
     position: relative;

        .btn-show-more {
            width: 0px;
            height: 0px;
            position: absolute;
            right: 0;
            bottom:0;

            &:after {
                content: 'Show More';
                position: absolute;
                right: 7px;
                bottom: 6px;
                // from bootstrap button
                padding: 6px 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                color: #fff;
                background-color: #337ab7;
                border-color: #2e6da4;
            }
            &:hover:after {
                color: #fff;
                background-color: #286090;
                border-color: #204d74;   
            }
        }
    }

    /*
    <div> appended to canvas when a message should be displayed. E.g. when a new search is triggered or no data are received.
    Contains a <span> for the message and optionally an <img> tag (for the loading icon, only for the case of a new search )
    */
    .urank-viscanvas-message {
        display: block;
        margin-top: 8em;
        text-align: center;
        color: #777;
        font-size: .9em;

        span {
            display: block;
            font-size: 1.1em;
        }    
    }
}

